<div class="container">
  <div class="row">
    <div class="col-offser-md-1 col-md-8">
      <div class="heading"><h2>キューポイント編集</h2></div>
        <div class="body">
          <% if @cuepoint.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @cuepoint.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_for @cuepoint, html: {class: "form-horizontal"} do |f| %>
            <div class="form-group">
              <label for="name" class="control-label col-md-3">Name</label>
              <div class="col-md-6">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="url" class="control-label col-md-3">VAST URL</label>
              <div class="col-md-8">
                <%= vast_url(@cuepoint) %>
              </div>
            </div>
            <div class="text-left">
            <%= f.submit "登録", class: "btn btn-success" %>
            <a class="btn btn-default" href="/cuepoints">中止</a>
            <%= link_to "削除", @cuepoint, method: :delete, data: {confirm: "本当に削除してよろしいですか？" } %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
